<!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <title>Fashiony</title>

    <!-- style -->
    <style>
        .wrap {
            margin: 3%
        }

        .search {
            width: 600px;
            margin-left: -130px;
            margin-right: 20px;
        }

        .home-box {
            margin-top: 20px;
        }

        .no-border {
            border: 0;
        }

        .pagination {
            position: absolute;
            left: 50%;
        }

        .kakao_button {
            width: 100px;
        }

        .button-group {
            margin-top: 20px;
        }

    </style>
    <script>
        $(document).ready(function () {
            let params = new URLSearchParams(window.location.search);
            let page = params.get("page");

            if (page !== 1){
                $('#preButton').removeClass('disabled');
            } else {
                $('#preButton').removeClass('disabled');
            }

            boardList(page)
        });

        function postArticle() {
            let url = $('#post-url').val();
            let comment = $('#post-comment').val();

            $.ajax({
                type: "POST",
                url: "/memo",
                data: {
                    url_give: url,
                    comment_give: comment
                },
                success: function (response) { // 성공하면
                    alert(response["msg"]);
                    // 새로고침
                    window.location.reload();
                }
            })
        }

        function nextPage(){
            let params = new URLSearchParams(window.location.search);
            let page =  parseInt(params.get("page")) + 1;
            location.href=`http://localhost:5000/homepage?page=${page}`;
        }

        function prePage(){
            let params = new URLSearchParams(window.location.search);
            let page =  parseInt(params.get("page")) -1 ;
            location.href=`http://localhost:5000/homepage?page=${page}`;
        }

        function boardList(page) {
             $('#cards-box').empty();
            $.ajax({
                type: "GET",
                url: `/api/board?page=${page}&pageSize=4`,
                data: {},
                success: function (response) {
                    let boards = response['data']['boards']

                    for (let i = 0; i < boards.length; i++) {
                        let imageUrl = boards[i]['board']['imageUrl'];
                        let brandName = boards[i]['board']['brandName'];
                        let modelName = boards[i]['board']['modelName']
                        let createdAt = boards[i]['board']['createdAt']
                        let comment_num = boards[i]['comments'].length

                        let tmp_html = `
                                <div class="col mb-10">
                                        <div class="card">
                                            <img class="no-border img-thumbnail"
                                                 src= "${imageUrl}"
                                                 alt="Card image cap">
                                            <div class="card-body">
                                                <a target="_blank" class="card-title">${brandName}</a>
                                                <p class="card-text">${modelName}</p>
                                                <p class="card-text comment">댓글 수 : ${comment_num}<br> 작성 시각 : ${createdAt}</p>
                                            </div>
                                        </div>
                                </div>`;

                        $('#cards-box').append(tmp_html);
                    }
                }
            })
        }
    </script>
</head>

<body>
<div class="wrap">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h1" href="#">Fashiony</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="search">
                <form class="d-flex">
                    <input class="form-control search" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-light" onclick="search()" type="submit">Search</button>
                </form>
            </div>
        </div>
        <div id="logout" class="kakao_button">
			<img src="/static/kakaolink_btn_small.png" alt="kakao oauth" />
			<span>로그아웃</span>
		</div>
    </nav>

    <div id="cards-box" class="row row-cols-1 row-cols-md-3 home-box">
    </div>

    <div class="button-group">
          <nav aria-label="..." class="pagenation-button">
        <ul class="pagination">
            <li id="preButton" class="page-item disabled">
                <span class="page-link" onclick="prePage()">Previous</span>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" onclick="nextPage()">Next</a>
            </li>
        </ul>
    </nav>
    </div>
</div>
</body>
<script src='../static/example.js'></script>
</html>